@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.min.css");

*{
    color:black;
    font-family: Inter;
    padding: 3px;
}

body{
    max-height: fit-content;
}

/*dic class used for spacing*/
.space{
    padding-bottom:2%;
}

/*tag used for description , space*/
.exp .edu dd{
    padding: 50%;
}

/*height from the main desc to the sub desc*/
.dl{
    padding-top:10%;
}

/*Profile pic*/
.navbar{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;

}

.pfp img{
    width: 20%;
    border-radius: 100px;
    background-color: rgb(253, 239, 114, .6);
    margin-left: -8%;
    background-attachment: fixed;
    box-shadow: 5px 10px 20px darkorange;
}

.menu{
    margin-left: 10%;
    margin-top:3%

}

.menu ul{
    justify-content: space-between;
}

.menu ul li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    font-size: 26px;
    background-color: rgb(253, 239, 114, .25);
    padding: 10px;
    border-radius: 22px;
    box-shadow: 2px 2px 5px darkorange;
    animation: ease 4s;
}

.menu a:hover{ 
    color: white;
    background-color: black;
    box-shadow: 5px 10px 20px darkorange;
}

/*Text on Home Page Portfolio*/

.content{
    display: flex;
    justify-content: center;
    padding: 5%;
}

.port{
    font-size: 54px;
    text-shadow: 7px 10px 10px darkorange;
    
}

.port :first-letter{
    font-size: 160px;
    margin: -1.5%;

}

.desc{
    width: 545px;

    margin-top: 1%;
    justify-content: center;
    border-radius: 15%;
    max-height: 20px;

}

.desc p{
    font-size: 35px;
    flex-direction: column;
    padding-left: 100px;
    box-shadow: 8px 10px 20px darkorange;
    border-left: dashed;
    background-color: rgb(253, 239, 114, .25);
    padding: 2%;

}


/*line*/
hr{
    margin-top: 10%;
    border: none;
    border-top: dashed;
    border-width: 1px;
}

/*push part section*/

.push h2{
    text-decoration: underline;

}

.push{
    display: grid;
    justify-self: centre;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    " edu skill "
    " exp skill ";
    gap: 5px;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 10%;
    font-size: 26px;
}

.right{
    margin-left: 8%;
}

.right dd{
    padding: 2.3%;
}

.edu dl dt dd{
    grid-area:"edu";

}
  
.exp dd dt dd{
    grid-area: "exp";
}
  
.skill li{
    grid-area: "skill";
    margin-right: 5%;
    margin-top: 4%;
}




/*Footer*/
.foot{
    display: flex;
    flex-direction: flex-start;
    flex-direction: column;
}

.d_foot h1{
    font-size: 100px;
    font-weight: 500;
}

.d_foot dt{
    font-size: 30px;
    margin-left: 10%;
}

.foot .sub{
    margin-bottom: 10px;
    margin-left: 10%;
}

#subsub{
    margin-left: 15%;
}

/*Icons*/
.icon{
    display: flex;
    justify-content: space-between;
}

.ic{
    margin-left: 10%;
    width: 30%;
}

.ic img{
    padding-left: 10%;
}

.icon img{
    height: 50px;
    width: 50px;
    padding:2%;
}

.btt a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.btt p{
    width: auto;
    margin: 0%;

}

/*Copy rights footer*/

.cc{
    background-color: #231900;
    text-align: center;
}

.cc{
    margin-bottom: -1%;
    margin-left: -1%;
    margin-right: -1%;
}

.cc p{
    padding: -10%;
    color: white;    
}





