*{
    margin: 0;
    padding: 10;
    background-color: #F4AF47;
    color: black;
    font-family: Inter;
}
h1{
    font-size: 128px;
    font-weight: 400;
}

h2{
    margin-right: 356;
    /* background-color: #FED979; */
    
    padding: 15px;
    border-radius: 20px;
}


.main{
    color: black;
}

.navbar{
    width: 86%;
    margin-left: 250px;
    display:flex;
    margin-top: 20px;
    padding: 15px 0;
    justify-content: space-between;
}

.navbar .logo{
    width: 125px;
    padding: -100px;
    background-color: #FED979;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 100px;
    
}

ul li{
    display: inline;
}

ul li a{
    width: 615px;
    height: 66px;
    left: 1207px;
    top: 115px;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-top:-1;
    transition: .2s ease;
    background-color: #FED979;
    border-radius: 20px;
}

ul li a:hover{
    color: white;
    font-size: 21px;
    background-color: #000000;
}

.def{
  
    margin-top: -9%;
    padding-left: 50%;
    align-items: center;
    text-align: justify;
    
}
.vertical {
        margin-left: 80px;
        margin-top: 40px;
        border-left: 6px solid black;
        height: 224px;
        position: absolute;
        left: 50%;
        padding-left: 0px;
}

td{
    padding: 30;
}

span{
    font-size: 180px;
    margin: -28px;
}

.content{
    padding-top: 100px;
}