*{
    color:black;
    background-color: #F4AF47;
    font-family: Inter;
    padding: 4px;

    justify-content: center;
}
/*Profile pic*/
.navbar{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;

}

.pfp img{
    width: 20%;
    border-radius: 100px;
    background-color: rgb(253, 239, 114, .25);
    margin-left: 2%;
    background-attachment: fixed;
}

.menu{
    margin-left: 10%;
    margin-top:3%

}

.menu ul{
    justify-content: space-between;
}

.menu ul li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    font-size: 26px;
    background-color: rgb(253, 239, 114, .25);
    padding: 10px;
    border-radius: 22px;
    animation: ease 4s;
}

.menu a:hover{ 
    color: white;
    background-color: black;
    box-shadow: 5px 10px 20px darkorange;
}

/*Text on Home Page Portfolio*/

.content{
    display: flex;
    justify-content: center;
    padding: 10%;
}

.port{
    font-size: 54px;
}

.port:first-letter{
    font-size: 160px;
    margin: -1.5%;
}

.desc{
    width: 545px;

    margin-top: 1%;
    justify-content: center;
    border-radius: 15%;
    max-height: 20px;
}

.desc p{
    font-size: 35px;
    flex-direction: column;
    padding-left: 100px;

    border-left: dashed;
    background-color: rgb(253, 239, 114, .25);
    padding: 2%;

}


/*line*/
hr{
    margin-top: 10%;
    border: none;
    border-top: dashed;
    border-width: 1px;
}

/*push part section*/

.push h2{
    text-decoration: underline;

}

.push{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;    
    justify-content: space-around;
    font-size: 26px;
    gap: 30%;
}
  
.edu{

}
  
.exp{

}
  
.skill{
    margin-top: 7%;
}
  
  

