*{
    position: abolute;
    margin: 0;
    padding: 5;
    background-color: #F4AF47;
    color: black;
    font-family: Inter;
}
h1{
    font-size: 128px;
    font-weight: 400;
}

h2{
    margin-right: 356;
    /* background-color: #FED979; */
    
    padding: 15px;
    border-radius: 20px;
}


.main{
    position: relative;
    color: black;
}

.navbar{
    width: 75%;
    margin-left: 200px;
    display:flex;
    margin-top: 20px;
    padding: 15px 0;
    justify-content: space-between;
}

.navbar .logo{
    width: 125px;
    padding: -100px;
    background-color: #FED979;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 100px;
    
}

ul li{
    position: relative;
    display: inline;  
}

ul li a{
    width: 615px;
    height: 66px;
    left: 1207px;
    top: 150px;
    margin-top: 2%;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-top:-1; 
    background-color: #FED979;
    border-radius: 20px;
    transition: .2s ease;
}

ul li a:hover{
    color: white;
    font-size: 21px;
    background-color: #000000;
}

td{
    padding: 20;
    font-size: 33px;
    width: 554;
    height: 225;
}

span{
    font-size: 180px;
    margin: -28px;
}

.content{
    padding-top: 150px;
}

.line{
    margin-top: 80px;
    border: none;
    border-top: 2px solid black;
    color:#000000;
}

.desc{
    position: relative;
    padding-left: 50px;
    background-color:#a99f911f;
    border-left: #000000;
    border-left-style: solid;
}
